@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Overvej anden font til paragraph frem for raleway, en med flere former */
/* Poppins, inter */

:root {
  --magenta: #EF476F;
  --yellow: #FFD166;
  --teal: #06D6A0;
  --blue: #118AB2;
  --darkgreen: #343F3E;
  --white: #EFF1F3;
}

* {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


main {
  padding-top: 5%;
}

.h2-container h2 {
  padding-right: 2.5%;
}

/* Flex */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
}

/* Header */
/* nav.php */
.nav-link-list {
  justify-content: space-between;
  align-items: center;
  width: 18%;
}

.nav-link-list li {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.nav-link-list li a {
  color: var(--white);
  font-weight: medium;
  font-size: medium;
}

/* header.php */
.header {
  height: 7vh;
  width: 100%;
  background-color: var(--darkgreen);
  padding: 0 10%;
  justify-content: space-between;
  z-index: 99;
  border-bottom: 0.5px solid rgba(239, 241, 243, 0.5);
}

.name-wrap {
  align-items: center;
  justify-content: left;
  width: 60%;
}

.name-wrap a {
  color: var(--white);
  font-weight: light;
  font-size: smaller;
}

.name-wrap-width {
  width: 35%;
}

.name {
  color: var(--white);
  font-weight: bold;
  font-size: large;
  padding-right: 5%;
  margin: 0;
}



/* Main */
/* index.php */
.main-container {
  width: 100%;
  /* height: 100%; */
  min-height: 93vh;
  background: var(--darkgreen);
  padding: 3.5% 10%;
  justify-content: space-between;
  color: var(--white);
}

/* Left side of main */
.main-container-left {
  flex-direction: column;
  width: 30%;
}

.main-container-left h5 {
  margin-top: 0;
  font-weight: 300;
}

.profile-img {
  /* border-radius: 50%; */
  height: 40vh;
  width: auto;
}

/* Socials */
.social-links {
  padding: 0;
  height: 6.5vh;
  justify-content: left;
  width: 50%;
}

.social-link {
  width: 33%;
  transition: all 0.2s ease-in-out;
}

.social-link:hover {
  transform: scale(1.2);
}

.social-link a {
  color: var(--white);
  transform: scale(1.5);
}

/* Right side of main */
.main-container-right {
  width: 65%;
  flex-direction: column;
  border-bottom: 0.5px solid rgba(239, 241, 243, 0.5);
}

.main-container-right h2 {
  margin: 0;
}

/* Biography */
.main-container-right p {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.biography-dates ul {
  list-style-type: none;
}

.biography-dates-fat {
  padding-left: 0;
  font-weight: 600;
}

.biography-dates-slim {
  padding-left: 2%;
  font-weight: 300;
}


/* Interests and hobbies lists */
.ih-container {
  width: 100%;
  margin-bottom: 5%;
}

.interests-list {
  list-style-type: disc;
  width: 50%;
}

.hobbies-list {
  width: 50%;
}

/* Education list */

.edu-list h5 {
  font-weight: 300;
}

/* Projects */

#projects-hop {
  width: 100%;
  height: 5vh;
  background: var(--darkgreen);
}

.projects-container {
  width: 100%;
  background: var(--darkgreen);
  color: var(--white);
  /* min-height: 90vh; */
  padding: 3.5% 10%;
  justify-content: space-between;
}

.projects-container-left {
  width: 30%;
    /* border-right: 0.5px solid rgba(239, 241, 243, 0.5); */
}

.projects-container-left h2 {
  margin: 0;
}

.projects-container-right {
  width: 65%;
  flex-wrap: wrap;
}

/* Individual project containers */

.project-container {
  width: 50%;
  height: 300px;
  padding: 0% 3% 3% 3%;
  align-items: flex-start;
  justify-content: space-between;
}

.projects-container p {
  font-size: smaller;
}

.projects-container h4 {
  margin-top: 0;
}

.project-container-text {
  width: 40%;
}

.project-container a {
  width: 55%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.project-container img {
  height: auto;
  width: 100%;
}

/* Footer */
footer {
  height: auto;
  border-top: 0.5px solid rgba(239, 241, 243, 0.5);
  background: var(--darkgreen);
  color: var(--white);
  padding: 3% 10%;
}

footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}


/* Responsive mobile */
@media only screen and (max-width: 768px) {
  .header {
    position: static;
    flex-direction: column;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .name-wrap {
    width: 100%;
  }

  .header ul {
    justify-content: space-around;
  }

  .header .name-wrap-width {
    display: none;
  }

  .header .cv-link {
    display: none;
  }

  .nav-link-list {
    width: 100%;
    padding:0;
  }

  .main-container {
    flex-direction: column;
  }

  .main-container {
    width: 100%;
  }

  .main-container-left {
    width: 100%;
  }

  .main-container-right {
    width: 100%;
  }

  .projects-container {
    flex-direction: column;
    width: 100%;
  }

  .projects-container-left {
    width: 100%;
  }

  .projects-container-right {
    width: 100%;
    flex-direction: column;
  }

  .project-container {
    width: 100%;
    flex-direction: column;
  }

  .project-container-text {
    width: 100%;
  }
  .project-container a {
    width: 100%;
  }
}

@media only screen and (max-width: 992px){
  .project-container {
    height: 175px;
  }
}



/* https://codepen.io/colloque/pen/poOLPg */
/* Usage: .effect-underline on an "a" tag */
a {
  text-decoration: none;
  position: relative;
}

a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}